h1 {

    color: green;
}

img {

    width: 400px;
}

#thirdDiv {

    background-color: grey;
    height: 600px;
    width: 600px;
    padding: 50px;
    border: 10px solid black; 


}

#spanId {

    font-size: 18px;
    margin: 50px;


}